<!DOCTYPE html>
<html lang="en" ng-app="sos" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Six Second Monks - Display</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="app.css">
	</head>
	<body>

	<div class="container-fluid">

		<div class="row">
			<nav class="navbar navbar-default navbar-static-top">
			  <div class="container">
				  <div class="navbar-header">
					  <a class="navbar-brand">Six Second Monks</a>
				  </div>
			  	<ul class="nav navbar-nav">
<!-- 				  	<li><a href="#">Canvas Display</a></li> -->
<!-- 				  	<li><a href="#settings">Setting</a></li> -->
			  	</ul>
			  </div>
			</nav>
		</div>

		<div class="row" ng-controller="CanvasCtrl">
			<div class="col-md-6">
				<canvas id="sos-canvas" ng-class="{rotate: rotateForProduction}" ng-style='{ left: offsetStyle.left + "px", top: offsetStyle.top + "px" }' ng-init="initCanvas()"></canvas>
			</div>
			<div class="col-md-6">

				<!-- media panel -->
				<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Select Media</h3>
				</div>
				<div class="panel-body">
					<div class="list-group">
						<a href="#" class="list-group-item" ng-repeat="mode in modeList" ng-click="showMode($index)">{{mode.name}}</a>
					</div>
					<button class="btn" ng-click="clearStage()">Clear Stage</button>
				</div>
				</div>
				<!-- END: media panel -->

				<!-- canvas controls panel -->
				<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Canvas Controls</h3>
				</div>
				<div class="panel-body">

					<div class="btn-group" data-toggle="buttons">
					  <label class="btn" ng-class="devModeInputGroupClass">
					    <input type="radio" name="display-rotate" id="dev-mode" ng-model="wallDisplayMode" value="DEV" autocomplete="off">Development Mode
					  </label>
					  <label class="btn" ng-class="prodModeInputGroupClass">
					    <input type="radio" name="display-rotate" id="prod-mode" ng-model="wallDisplayMode" value="PROD" autocomplete="off" checked="checked">LED Display Mode (rotated)</label>
					  </label>
					</div>

					<div ng-if="wallDisplayMode == 'DEV'">
						<h4>Currently in DEV mode.</h4>
						<p>The canvas element on your left is displaying in the same manner that it would appear on the LED wall.</p>
					</div>
					<div ng-if="wallDisplayMode == 'PROD'">
						<h4>Currently in Wall Display (PROD) mode.</h4>
						<p>The canvas element on your left is rotated -90 degrees, so it will appear correctly on the LED wall.</p>
					</div>

					<h4>Add offset to CANVAS position</h4>
					<form class="form-inline">
					  <div class="form-group">
					    <label for="xOffset">X Offset</label>
					    <input type="text" class="form-control" id="xOffset" ng-model="offsetStyle.left">
					  </div>
					  <div class="form-group">
					    <label for="yOffset">Y Offset</label>
					    <input type="text" class="form-control" id="yOffset" ng-model="offsetStyle.top">
					  </div>
					</form>


				</div>
				</div>
				<!-- END: canvas control panel -->

			</div>
		</div>

	</div>

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="bower_components/preloadjs/dist/preload.min.js"></script>
	<script src="bower_components/easeljs/lib/easeljs-0.8.1.combined.js"></script>
	
	<!-- proton -->
	<script src="bower_components/proton/build/proton-1.0.0.js" type="text/javascript"></script>
	
	<!-- polyfill -->
	<script src="bower_components/midi/inc/shim/Base64.js" type="text/javascript"></script>
	<script src="bower_components/midi/inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="bower_components/midi/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
	<script src="bower_components/midi/examples/inc/colorspace.js" type="text/javascript"></script>
	
	<!-- midi.js package -->
	<script src="bower_components/midi/js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="bower_components/midi/js/midi/gm.js" type="text/javascript"></script>
	<script src="bower_components/midi/js/midi/loader.js" type="text/javascript"></script>
	<script src="bower_components/midi/js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="bower_components/midi/js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="bower_components/midi/js/midi/plugin.webmidi.js" type="text/javascript"></script>	
	<script src="bower_components/midi/js/midi/synesthesia.js" type="text/javascript"></script>
	<!-- utils -->
	<script src="bower_components/midi/js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="bower_components/midi/js/util/dom_request_script.js" type="text/javascript"></script>

	<!-- socket.io -->
	<script src="bower_components/socket.io-client/socket.io.js"></script>

	<!-- APP SPECIFIC -->
	<script src="app.js"></script>
	<script src="canvas/canvas.js"></script>
	
	<!-- links to respective mode.js files -->
	<script src="modes/slowClap/mode.js"></script>
	<script src="modes/sampleImage/mode.js"></script>
	<script src="modes/skeletalFun/mode.js"></script>
	
</body>
</html>
